[Unit]
Description= Prostorobot DNSC Solo Bot Service
After=network-online.target

[Service]
Type=idle
Restart=always
RestartSec=3
User=root
WorkingDirectory=/root/dnsc/solo_bot_vk
ExecStart=python3 dnsc_solo_bot_vk.py

[Install]
WantedBy=default.target
